.header-img {
    position: relative;
    width: 100vw;
    height: 50vh;
    background-size: cover;
    overflow: hidden;
}
.intro{
    height: 50%;
}
.logo{
    /* width: 50%; */
}
.text{
    width: 50%;
    height: 90%;
    text-align: left;
    line-height: 100%;
    overflow-y: scroll;
}